@page
@model playlistmerger.Pages.CreatePlaylistModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<form method="post">
    <div class="form-group col-sm-10">
        <label>Artist #1</label>
        <input class="form-control" type="text" asp-for="ArtistSearch!.Name1" />
        <span asp-validation-for="ArtistSearch!.Name1" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-10">
        <label>Artist #2</label>
        <input class="form-control" type="text" asp-for="ArtistSearch!.Name2" />
        <span asp-validation-for="ArtistSearch!.Name2" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-10">
        <label>Playlist name</label>
        <input class="form-control" type="text" asp-for="ArtistSearch!.PlaylistName" />
        <span asp-validation-for="ArtistSearch!.PlaylistName" class="text-danger"></span>
    </div>

    <div class="form-group col-sm-10">
        <input class="btn btn-primary" type="submit" />
    </div>

</form>



@if (Model.ArtistResults1.Count > 0)
{
    var artist1 = Model.ArtistResults1.First();
    var artist2 = Model.ArtistResults2.First();

    <h3>Create a playlist of</h3>
    <div class="artist-block">
        <img src="@artist1.ImageUrl" height="200" width="200" />
        <br />
        <strong>@artist1.ArtistName</strong>
    </div>

    <div class="artist-block">
        <img src="@artist2.ImageUrl" height="200" width="200" />
        <br />
        <strong>@artist2.ArtistName</strong>
    </div>

    <a class="btn btn-primary" asp-page="/GeneratePlaylist" asp-route-artist1="@artist1.ArtistName" asp-route-artist2="@artist2.ArtistName" asp-route-playlistName="@Model.ArtistSearch.PlaylistName">Generate</a>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
